org.gradle.jvmargs=-Xmx4096m -XX:MaxMetaspaceSize=1024m -Dkotlin.daemon.jvm.options=-Xmx4g
systemProp.sonar.gradle.skipCompile=true

enableJavaFrontend=true
enableCXXFrontend=true
enableGoFrontend=true
enablePythonFrontend=true
enableLLVMFrontend=true
enableTypeScriptFrontend=true
enableRubyFrontend=true
enableJVMFrontend=true
enableINIFrontend=true
enableRustFrontend=true
enableMCPModule=true

org.jetbrains.dokka.experimental.gradle.pluginMode=V2Enabled
## Suppress warnings about using the experimental Dokka plugin
org.jetbrains.dokka.experimental.gradle.pluginMode.noWarn=true
