[data-md-color-scheme="light"] {
  --md-primary-fg-color: var(--fraunhofer-green);
  --md-secondary-fg-color: var(--fraunhofer-blue);
  --md-accent-fg-color: #728bab;
  --md-typeset-color: #555555;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: var(--fraunhofer-green);
  --md-footer-bg-color--dark: var(--fraunhofer-blue);
  /* need to set the typeset color because it uses the primary color otherwise*/
  --md-typeset-a-color: #5981b4;
  --md-hue: 220;
  --md-accent-fg-color: #a4bede;
}

:root {
  --md-text-font-family: "Inter var experimental", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --md-footer-bg-color--dark: var(--fraunhofer-blue);
  --md-footer-bg-color--light: var(--fraunhofer-blue);
  --md-default-fg-color--light: #1f82c0;
  --fraunhofer-green: rgb(23, 156, 125);
  --fraunhofer-green-light: rgba(23, 156, 125, 0.2);
  --fraunhofer-blue: rgb(0, 91, 127);
  --fraunhofer-blue-light: rgba(0, 91, 127, 0.4);
  --fraunhofer-blue-medium: rgba(0, 91, 127, 0.6);
  --border-gray: rgb(199, 202, 204);
  --md-admonition-icon--paper: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 9h5.5L13 3.5V9M6 2h8l6 6v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.11.89-2 2-2m9 16v-2H6v2h9m3-4v-2H6v2h12Z"/></svg>');
}

body {
  --md-text-font-family: "Inter var experimental", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-settings: "cv11", "ss01"
}

.md-typeset .admonition.paper,
.md-typeset details.paper {
  border-color: var(--fraunhofer-green);
  font-size: 0.7rem;
}

.admonition.warning p {
  border: 0px;
}

.md-typeset hr {
  border: 1px solid #c7cacc;
  border-top: none;
  display: flow-root;
  margin: 1.5em 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.5em;
  margin-left: 0;
}

.md-typeset {
  line-height: 1.1rem;
  font-size: 0.7rem;
}

.md-typeset h1 {
  color: var(--md-default-fg-color--light);
  font-size: 2em;
  line-height: 1.3;
  border: 1px solid #c7cacc;
  border-bottom: none;
  padding-top: 1.2rem;
  padding-right: 0.8rem;
  padding-bottom: 1.2rem;
  padding-left: 0.8rem;
  font-weight: 300;
  letter-spacing: -.01em;
  margin: 0;
}

.md-typeset p {
  border: 1px solid #c7cacc;
  border-bottom: none;
  border-top: none;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  padding-bottom: 0.8rem;
  margin: 0;
}

.md-typeset .tabbed-set {
  border: 1px solid #c7cacc;
  border-bottom: none;
  border-top: none;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  padding-bottom: 0.8rem;
  margin: 0;
}
.md-typeset .tabbed-set .tabbed-content,
.md-typeset .tabbed-set .tabbed-block {
  border: none;
}

.md-typeset div.papers {
  border: 1px solid #c7cacc;
  border-bottom: none;
  border-top: none;
  padding-top: 1.5625em;
  padding-bottom: 1.5625em;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  margin: 0;
}

.md-typeset h2 {
  color: var(--md-default-fg-color--light);
  font-size: 1.5625em;
  line-height: 1.4;
  font-weight: bold;
  border: 1px solid #c7cacc;
  border-bottom: none;
  padding-top: 1.2rem;
  padding-right: 0.8rem;
  padding-bottom: 1.2rem;
  padding-left: 0.8rem;
  margin: 0;
}

.md-typeset h3 {
  color: var(--md-default-fg-color--light);
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: bold;
  padding-top: 1.2rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;
  margin: 0;
  border: 1px solid #c7cacc;
  border-bottom: none;
}

.md-typeset h4 {
  color: var(--md-default-fg-color--light);
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  margin: 0;
  border: 1px solid #c7cacc;
  border-top: none;
  border-bottom: none;
}

.md-typeset h5 {
  color: var(--md-default-fg-color--light);
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  margin: 0;
  border: 1px solid #c7cacc;
  border-top: none;
  border-bottom: none;
}

.md-typeset .highlight {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  margin: 0;
  border: 1px solid #c7cacc;
  border-top: none;
  border-bottom: none;
}

.md-typeset .highlight>pre {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

[dir="ltr"] .md-typeset ol,
[dir="ltr"] .md-typeset ul {
  padding-right: 0.8rem;
  padding-left: 1.2rem;
  padding-top: 0em;
  padding-bottom: 1em;
  margin: 0;
  border: 1px solid #c7cacc;
  border-top: none;
  border-bottom: none;
}

.md-typeset .box h3+hr {
  padding-top: 1.2rem;
  border-left: none;
  border-right: none;
}

.md-typeset .mermaid {
  padding-right: 0.8rem;
  padding-left: 1rem;
  margin: 0;
  border: 1px solid #c7cacc;
  border-top: none;
  border-bottom: none;
}
.md-typeset li>.mermaid {
  border: none;
}

.md-typeset .child {
  background: #dddddd;
  border-radius: 5%;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.md-typeset .classLabel {
  background: var(--fraunhofer-blue-light);
  color: #ffffff;
}

.md-typeset .relationship {
  background: var(--fraunhofer-blue);
  color: #ffffff;
}

.md-typeset .relationship>a:link,
.md-typeset .relationship>a:visited,
.md-typeset .relationship>a:hover,
.md-typeset .relationship>a:active {
  color: #FFFFFF;
}

.md-typeset h2+h3 {
  margin: 0;
}

.box h3 {
  color: var(--md-default-fg-color--light);
  font-size: 1.2em;
  line-height: 1.2;
  font-weight: bold;
  padding-top: 1.2rem;
  padding-right: 0.8rem;
  padding-bottom: 0rem;
  padding-left: 0.8rem;
  margin: 0;
  border: none;
}

[dir="ltr"] .md-typeset .box ol,
[dir="ltr"] .md-typeset .box ul {
  border: none;
}

[dir="ltr"] .md-typeset ul>li>ul {
  border: none;
}

.md-typeset .empty {
  height: 5em;
}

.md-typeset .empty-small {
  height: 2em;
}

.md-typeset .paper>.admonition-title,
.md-typeset .paper>summary {
  background-color: var(--fraunhofer-green);
  border-color: var(--fraunhofer-green);
  font-size: 0.8rem;
  padding-left: 3rem;
  margin-left: 0px;
  margin-top: .625em;
  min-height: 2rem;
  vertical-align: middle;
}

.md-typeset .paper>.admonition-title::before,
.md-typeset .paper>summary::before {
  background-color: #FFFFFF;
  -webkit-mask-image: var(--md-admonition-icon--paper);
  mask-image: var(--md-admonition-icon--paper);
  height: 2rem;
  width: 2rem;
  top: 0px;
}

.md-typeset .paper p {
  border: none;
  padding: 0px;
}

.md-typeset .paper {
  border-radius: 0px;
  background-color: var(--fraunhofer-green);
  color: #FFFFFF;
  margin-top: 1px;
  margin-bottom: 1px;
}


.md-typeset .info {
  background-color: var(--fraunhofer-blue-medium);
  border-color: var(--fraunhofer-blue);
}
.md-typeset .info summary  {
  background-color: var(--fraunhofer-blue);
}

.md-typeset .info > summary::before {
  background-color: #FFFFFF;
  color: #FFFFFF;
}

.md-typeset .info p{
  border: none;
}

.md-typeset details>.admonition-title::before,
.md-typeset details>summary::before {
  background-color: #FFFFFF;
}

.md-typeset details {
  background-color: var(--fraunhofer-blue);
  color: #FFFFFF;
}

.md-typeset details>summary {
  text-transform: uppercase;
}

.authors {
  font-weight: 300;
  margin: 0;
}

.conference {
  font-size: .7rem;
  margin: 0;
}

div.left {
  float: left;
  width: 80%;
  padding-left: 3rem;
}

div.right-picture {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 20%;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

div.right-picture img {
  background: url(.jpg);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

div.right-picture-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  flex: none;
  order: 1;
  flex-grow: 0;
}


div.right-picture-text p {
  border: none;
}

div.right-picture-text h2 {
  border: none;
}

div.left-picture {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 20%;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  align-items: center;
}

div.left-picture img {
  align-self: stretch;
  flex-grow: 0;
  object-fit: cover;
  height: 100%;
}

div.left-picture-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  flex: none;
  order: 1;
  flex-grow: 0;
}


div.left-picture-text p {
  border: none;
}

div.left-picture-text h2 {
  border: none;
}

div.float-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  border: 1px solid #c7cacc;
  border-bottom: none;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

div.right {
  float: right;
  width: 18%;
  padding-left: 2%;
  vertical-align: middle;
}

.md-typeset details>summary {
  background-color: var(--fraunhofer-green-light);
  border-color: var(--fraunhofer-green);
}

.md-typeset details {
  margin-top: 0;
  border-color: var(--fraunhofer-green);
}

.box {
  border: 1px solid #c7cacc;
}

.box p {
  border: none;
}

a.green-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 1px solid #FFFFFF;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: var(--fraunhofer-green);
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 0.3em;
  text-transform: uppercase;
}

a.green-button:link,
a.green-button:visited,
a.green-button:hover,
a.green-button:active {
  color: #FFFFFF;
}
