name: build

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: "11"
      # this should either be triggered on the forked repository OR a pull_request
      - name: Build Only
        run: |
          ./gradlew --parallel build
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.repository != 'Fraunhofer-AISEC/cpg' || github.head_ref != ''
      - name: Build and Quality Check
        run: |
          ./gradlew --parallel build sonarqube \
          -Dsonar.projectKey=Fraunhofer-AISEC_cpg \
          -Dsonar.organization=fraunhofer-aisec \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.login=$SONAR_TOKEN \
          -Dsonar.branch.name=${GITHUB_REF:11}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: github.repository == 'Fraunhofer-AISEC/cpg' || github.head_ref == ''
      - name: Publish
        run: |
          export ORG_GRADLE_PROJECT_signingKey=`echo ${{ secrets.GPG_PRIVATE_KEY }} | base64 -d`
          ./gradlew --parallel build signMavenPublication publish
        if: github.ref == 'refs/heads/master'
        env:
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPG_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
