name: build

on:
  - push
  - pull_request

jobs:
  check_pr:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && (github.event.pull_request.base.repo.full_name == github.event.pull_request.head.repo.full_name)
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: "11"
      - name: Build for Codyze
        run: |
          ./gradlew --parallel -Pversion=0.0.0-SNAPSHOT -x signMavenPublication -x javadoc publishToMavenLocal
      - name: Checkout and test codyze
        run: |
          git clone https://github.com/Fraunhofer-AISEC/codyze.git
          cd codyze
          sed -i 's|cpg:\([0-9\.]*\).*|cpg:0.0.0-SNAPSHOT")|' build.gradle.kts
          ./gradlew --parallel test
  build:
    runs-on: ubuntu-latest
    # only execute if this is coming from a push or from a PR from a forked repository
    # otherwise this will get executed twice for PR from internal branches
    if: github.event_name == 'push' || github.event_name == 'pull_request' && (github.event.pull_request.base.repo.full_name != github.event.pull_request.head.repo.full_name)
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: "11"
      - name: Determine Version
        run: |
          # determine version from tag
          export VERSION=$(echo "${GITHUB_REF}" | cut -d "/" -f3)
          if [[ $VERSION != v* ]]
          then
            export VERSION=""
            echo "Building version-less (master or feature branch)"
          else
            # make version more Java-friendly by dropping the 'v'
            export VERSION=${VERSION:1:${#VERSION}}
            echo "Building as ${VERSION}"
          fi
          echo "##[set-output name=version;]$VERSION"
        id: determine_version
      - name: Build ${{ steps.determine_version.outputs.version }}
        run: |
          if [ "$SONAR_TOKEN" != "" ]
          then
            ./gradlew --parallel -Pversion=$VERSION spotlessCheck build sonarqube \
            -Dsonar.projectKey=Fraunhofer-AISEC_cpg \
            -Dsonar.organization=fraunhofer-aisec \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=$SONAR_TOKEN
          else
            ./gradlew --parallel -Pversion=$VERSION spotlessCheck build
          fi
        id: build
        env:
          VERSION: ${{ steps.determine_version.outputs.version }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: JavaDoc
        if: startsWith(github.ref, 'refs/tags/v')
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: build/docs/javadoc
      - name: Publish
        run: |
          export ORG_GRADLE_PROJECT_signingKey=`echo ${{ secrets.GPG_PRIVATE_KEY }} | base64 -d`
          ./gradlew -Dorg.gradle.internal.publish.checksums.insecure=true --parallel -Pversion=$VERSION build signMavenPublication publish
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          VERSION: ${{ steps.determine_version.outputs.version }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPG_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
      - name: "Create Release"
        if: startsWith(github.ref, 'refs/tags/v')
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ steps.determine_version.outputs.version }}
          draft: false
          prerelease: false
